# Copy this file to secrets.yaml and fill in your values
# DO NOT commit secrets.yaml to git

apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
stringData:
  POSTGRES_DB: <your-database-name>
  POSTGRES_USER: <your-username>
  POSTGRES_PASSWORD: <your-password>
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-secret
type: Opaque
stringData:
  admin-user: <your-admin-user>
  admin-password: <your-admin-password>
