{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "k8s-practice.fullname" . }}-ingress
  labels:
    {{- include "k8s-practice.labels" . | nindent 4 }}
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    - host: {{ .Values.ingress.hosts.app }}
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: spring-app-service
                port:
                  number: 8080
          - path: /
            pathType: Prefix
            backend:
              service:
                name: next-app-service
                port:
                  number: 80
    {{- if .Values.elk.enabled }}
    - host: {{ .Values.ingress.hosts.kibana }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: kibana
                port:
                  number: 5601
    {{- end }}
    {{- if .Values.monitoring.enabled }}
    - host: {{ .Values.ingress.hosts.grafana }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: grafana
                port:
                  number: 3000
    - host: {{ .Values.ingress.hosts.prometheus }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: prometheus
                port:
                  number: 9090
    {{- end }}
{{- end }}
