{{- if .Values.spring.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-app
  labels:
    {{- include "k8s-practice.labels" . | nindent 4 }}
    app: spring-app
spec:
  replicas: {{ .Values.spring.replicaCount }}
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      containers:
        - name: spring-app
          image: "{{ .Values.spring.image.repository }}:{{ .Values.spring.image.tag }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          ports:
            - containerPort: 8080
          env:
            - name: POSTGRES_HOST
              value: "postgres-service"
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
          readinessProbe:
            httpGet:
              path: /api/actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/actuator/health
              port: 8080
            initialDelaySeconds: 45
            periodSeconds: 15
          resources:
            {{- toYaml .Values.spring.resources | nindent 12 }}
---
apiVersion: v1
kind: Service
metadata:
  name: spring-app-service
  labels:
    {{- include "k8s-practice.labels" . | nindent 4 }}
    app: spring-app
spec:
  type: ClusterIP
  selector:
    app: spring-app
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
{{- end }}
